/*
===============================================================================
CSS Reset Start
===============================================================================
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
===============================================================================
CSS Reset Finish
===============================================================================
*/

body{
    margin: 0px;
    background-color: rgb(89, 48, 133);
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}
header,footer{
    overflow:hidden;
    
    color:white;
}

header h1 {
    float: left;
    font-weight: 500;
    font-size: 48px;
    padding: 40px 0 20px 0;
    border-top: 4px solid #7bb431;

}
header h2{
    text-align: right;
    padding: 40px 0 20px 0;
    font-size: 24.5px;
    white-space: nowrap;
}

nav{
    display: flex;
    justify-content: right;
}

nav a{
color:white;
text-align: center;
padding: 14px 16px;
background-color: rgb(64, 39, 90);
text-decoration: none;
}

nav a.active {
    background-color: black;
}

nav a:hover{
    background-color: #000000;
    color: #fffbfb;
}



header,nav,footer,article{
    padding-left: 12.5%;
    padding-right: 12.5%;
}

article{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

article h2{
    font-size: 30px;
    color: #7bb431;
    border-bottom: 2px solid #7bb431;
    margin-bottom: 20px;
    text-align: center;
}
article h3{
    font-size: 30px;
    color: #7bb431;
    border-bottom: 2px solid #7bb431;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}
article h4{
    font-size: 30px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 500;
    margin-top: 10px;
}
article h5{
    font-size: 10px;
    color: #7bb431;
    border-bottom: 2px solid #7bb431;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    width: 25%;
}
article h6{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
}
article h1{
    font-size: 30px;
    color: #7bb431;
    border-bottom: 2px solid #7bb431;
    margin-bottom: 30px;
    width: 20%;
    
}

article p{
    line-height: 20px;
}

article ul {
    list-style: inside;
    list-style-type: disc;
    font-size: 15px;
}

.row {
    margin: 8px -16px;
}

.row,
.row > .column {
    padding: 8px;
}

.column {
    float: left;
    width: 25%;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.content{
    background-color: rgb(233, 223, 235);
    padding: 10px;
}
.content h3 {
    text-transform: none;
    font-weight: bold;
    margin: 10px 0 10px 0;
}
.content p {
    font-size: 18px;
}
footer {
    font-size: 12px;
    padding-top: 40px;
}
footer > h1 {
    float: left;
    text-transform: uppercase;
}
footer a {
    float: right;
    color: #ffffff;
    text-decoration: none;
    padding: 0 20px 0 20px;
}

footer a.active {
    color: #7bb431;
}

footer a:hover {
    color: #000000;
}
input[type='text'],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type='submit'] {
    background-color: #04aa6d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type='submit']:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

@media  screen and (max-width: 1150px) {
    header h2 {
        clear: left;
        text-align: unset;
        padding-top: 10px;
    }
    
}

@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }

    nav {
        justify-content: unset;
        flex-direction: column;
        padding: 0%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
